
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/text-ocr.iml
__pycache__/chatbot_utils.cpython-310.pyc
__pycache__/db_utils.cpython-310.pyc
chat_log.csv
